@charset "UTF-8";

body{
    background-color: rgb(45, 118, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1{
    color: rgb(18, 155, 219);
    background-color: rgb(35, 87, 105);
}
h2{
    color: darkred;
}
p{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}