body{
    background-color: rgba(7, 230, 70, 0.532);
}

header{
    background-color: rgba(6, 170, 52, 0.532);
    color: white;
    text-align: center;
    padding: 20px;
}

nav{
    color: white;
    text-decoration: none;
    text-align: left;
}

nav > a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

article{
    background-color: aliceblue;
    text-align: justify;
    padding: 0px 20px;
    margin: 0px 20px;
}

article > h1{
    color: green;
}

article > h2{
    background-color: rgba(7, 230, 70, 0.532);
    color: green;
}

article > p > a{
    color: green;
    text-decoration: none;
}
